
<div class="header">
  <img class="couple" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/6c61f518930619.562db11e69491.png">
  <div class="container">
  <h1>Create Post</h1>
  </div>
</div>

<%= render 'form', post: @post %>
